<div class="container-fluid bg-gray-100">
<div class="container">
    <div class="row">
        <div class="hdd">
            <div style="font-size: 2rem; font-weight: bold;" class="col-12">WHAT CLIENT SAY</div>
        <div style="font-size: 1rem; color: gray;" class="col-12">clean and modern disign is our best specialist</div>
        
        </div>
        <div class="cm row col-md">
            <div class="col-2 ">
                <img src="assets/images/test-img1.jpg" alt="">
                <div class="quates"><i style="color: gray;" class="fa-solid fa-quote-left"></i></div>
            </div>
            <div class="col-7 ">
                <h1>sarah john</h1>
                <span>envato.com</span>
                <p>natus elviusible dovakacha ravuthar badatha lausy lotus lafter jigerthanda lucifer lotes engwana come joh abudhabi</p>
            </div>
        </div>
        <div class="cm row col-md">
            <div class="col-2 ">
                <img src="assets/images/test-img2.jpg" alt="">
                <div class="quates"><i style="color: gray;" class="fa-solid fa-quote-left"></i></div>
            </div>
            <div class="col-7 ">
                <h1>sarah john</h1>
                <span>envato.com</span>
                <p>natus elviusible dovakacha ravuthar badatha lausy lotus lafter jigerthanda lucifer lotes engwana come joh abudhabi</p>
            </div>
        </div>
    </div>
</div>
</div>