<div class="container-fluid bg-gray-100">
  <div class="row justify-content-center align-items-center d-flex">
    <div
      class="sub col-md-5  d-flex justify-content-center align-items-center"
    >
      <img src="assets/images/about-img1.jpg" alt="" />
    </div>
    <div
      class="sub col-md-5 d-flex justify-content-center align-items-center"
    >
      <div class="sub1 col-md-10">
        <h2>MADE IS TEMPLATE FOR BUSINESS</h2>
   <!-- --------------------------------------------- -->
        <div>

        <div class="arowMainDiv">
          <div class="aroDiv">
            <i class="Ar fa-solid fa-arrow-right"></i>
          </div>
          <p>Clean & Modern Design</p>
      </div>
      <div class="arowMainDiv">
        <div class="aroDiv">
          <i  class="Ar fa-solid fa-arrow-right"></i>
        </div>
        <p>Fully Responsive</p>
    </div>
    <div class="arowMainDiv">
        <div class="aroDiv">
          <i class="Ar fa-solid fa-arrow-right"></i>
        </div>
        <p>Clean & Modern Design</p>
    </div>

</div>
<!-- -------------------------------------------------- -->

<div class="paraMain" >
    <div class="para">Web design is the art of creating visually appealing and user-friendly websites that provide an excellent online experience. It combines elements like layout, color schemes, typography, and interactive features to ensure functionality and engagement.</div>

</div>
<div class="btnMiainDiv">

<a href="#" class="btntour btn btn-outline-light">Read More</a>
<a  href="#" class="ntnbuy btn btn-success">Buy Now</a>

</div>
      </div>
    </div>
  </div>
</div>
