<div class="main">
<div class="container">
   <div class="contend">
    <div class="head1 col-12 align-self-center">WHAT CLIENT SAY</div>
    <div class="head2 col-12 align-self-center">
    clean and modern disign is our spacialist
  </div>
   </div>
  <br>
  <div class="c1 container">
    <div class="row">
      <div class="col-md">
        <img src="assets/images/work-img1.jpg" alt="" />
        
          <div class="col">Your Work Title</div>
          <div class="gd col">- Graphic Design</div>
        
      </div>
      <div class="col-md">
        <img src="assets/images/work-img2.jpg" alt="" />
        <div class="textMain">
          <div class="col">Your Work Title</div>
          <div class="gd col">- Graphic Design</div>
        </div>
      </div>
      <div class="col-md">
        <img src="assets/images/work-img3.jpg" alt="" />
        <div class="textMain">
          <div class="col">Your Work Title</div>
          <div class="gd col">- Graphic Design</div>
        </div>
      </div>
      <div class="col-md">
        <img src="assets/images/work-img4.jpg" alt="" />
        <div class="textMain">
          <div class="col">Your Work Title</div>
          <div class="gd col">- Graphic Design</div>
        </div>
      </div>
    </div>
  </div>
  
</div>

</div>