<nav class="container-fluid navbar ">
   
    <div class="row align-items-center justify-content-center text-center w-100 h-100">
        <div class="col-6">
            <img class="logo" style="margin-left: 150px;" src="assets/images/logo.png" alt="Logo">
        </div>
        <div  class="col-6 d-flex justify-content-center align-items-center">
            <div class="d-flex nav-items">
                <div class="n">Home</div>
                <div class="n">About</div>
                <div class="n">Service</div>
                <div class="n">Portfolio</div>
                <div class="n">Blog</div>
                <div class="n">Contact</div>
                <div class="n search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
    </div>



   <!-- navbar offcanvas -->

    <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdroped with scrolling</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <p>Try scrolling the rest of the page to see this option in action.</p>
        </div>
      </div> -->