<div class="container-fluid bg-gray-200 ">
  <div class="row">
    <div class="CE col-md-3">
      <div class="gg offset-md-5">
        <i class="icon fa-solid fa-phone"></i>
        <span class="cu-callText">Call us:1234567890</span>
      </div>
    </div>
    <div class="CE col-md-4">
      <i class="icon fa-regular fa-envelope"></i>
      <span class="cu-callText">Contact us: your&#64;gmail.com</span>
    </div>
    <div class="CE row col-md-5 justify-content-center">
      <div class="col-1">
        <i style="color: gray" class="icon fa-brands fa-facebook-f"></i>
      </div>
      <div class="col-1">
        <i style="color: gray" class="icon fa-brands fa-twitter"></i>
      </div>
      <div class="col-1">
        <i style="color: gray" class="icon fa-brands fa-linkedin-in"></i>
      </div>
      <div class="col-1">
        <i style="color: gray" class="icon fa-brands fa-google-plus-g"></i>
      </div>
      <div class="col-1">
        <i style="color: gray" class="icon fa-brands fa-github"></i>
      </div>
    </div>
  </div>
</div>
