<div class="container justify-content-center align-items-center d-flex">
  <div class="row">
    <div class="box col-md-4  d-flex justify-content-center align-items-center">
      <div class="sub col-3">
        <i class="thumb fa-regular fa-thumbs-up"></i>
      </div>
      <div class="sub col-8">
        <span>Best Quality Design</span>
        <p>
          Web design is the art of creating visually appealing and user-friendly
          websites that provide an experefnknnbbdb
        </p>
      </div>
    </div>
    <div class="box col-md-4  d-flex justify-content-center align-items-center">
      <div class="sub col-3">
        <i class="thumb2 fa-solid fa-tablet"></i>
      </div>
      <div class="sub col-8">
        <span>Responsive Design</span>
        <p>
          Web design is the art of creating visually appealing and user-friendly
          websites that provide an experefnknnbbdb
        </p>
      </div>
    </div>
    <div class="box col-md-4  d-flex justify-content-center align-items-center">
      <div class="sub col-3">
        <i class="thumb2 fa-solid fa-sliders"></i>
      </div>
      <div class="sub col-8">
        <span>Easy to Costomize</span>
        <p>
          Web design is the art of creating visually appealing and user-friendly
          websites that provide an experefnknnbbdb
        </p>
      </div>
    </div>
  </div>
</div>
