.carousel-inner img {
    height: 80vh; 
    object-fit: cover;
    background: transparent black ;
    
}

  .carousel-caption{
    bottom: 30%;
    
  }
  .HomeText span{
    font-size: 30px;
  }
  .HomeText strong{
    font-size: 30px;
  }
  .carousel-caption h1{
    font-size: 50px;
    font-weight: bold;
  }
  .Hp{
    font-size: 20px;
  }
















/*   
  .carousel-caption {
    bottom: 20%;
  }
  
  .carousel-caption h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  
  .carousel-caption .btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
  
  @media (max-width: 768px) {
    .carousel-caption h1 {
      font-size: 2rem;
    }
  
    .carousel-caption p {
      font-size: 1rem;
    }
  } */